@model The_Post.Models.VM.CategoryPageVM

@{
    ViewData["Title"] = Model.Category;
}

<div>

    @if (Model.Category == "Economy")
    {
        @await Component.InvokeAsync("ElectricityPrices")
    }
</div>

<div class="col-md-10 mx-auto">

    <h1 class="category-title mx-auto col-lg-10">@Model.Category</h1>

    @foreach (var article in Model.Articles)
    {
        <partial name="_ArticleListingPartial" model="article"></partial>
    }

</div>

@if (Model.Category == "Economy")
{
    <div>
        <h3>Historical Electricity Prices</h3>
        <a href="@Url.Action("HistoricalElectricityPrices", "News", new { region = "SE1", date = DateTime.UtcNow.ToString("yyyy-MM-dd") })">View Prices for SE1</a>
    </div>
}

@* <div>
    <h3>Articles</h3>
    <ul>
        @foreach (var article in Model.Articles)
        {
            <li>
                <a href="@Url.Action("Details", "Article", new { id = article.Id })">@article.HeadLine</a>
            </li>
        }
    </ul>
</div>
 *@
