@model IEnumerable<The_Post.Models.Article>
@{
    ViewData["Title"] = "Local";
}

<h1>Local</h1>

<div>
     
    @foreach(var item in Model)
    {
        <partial name="_ArticleListingPartial" model="item"></partial>
    }

</div>