@model IEnumerable<The_Post.Models.Article>
@{
    ViewData["Title"] = "Sports";
}

<h1>Sports</h1>

<div>

    @foreach (var item in Model)
    {
        <partial name="_ArticleListingPartial" model="item"></partial>
    }

</div>

