@model IEnumerable<The_Post.Models.Article>
@{
    ViewData["Title"] = "Sweden";
}

<h1>Sweden</h1>

<div>

    @foreach (var item in Model)
    {
        <partial name="_ArticleListingPartial" model="item"></partial>
    }

</div>
