@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    ViewData["Title"] = "Create Role";
    Layout = "_LayoutForAdmin";
}

<h2>Create Role</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<div class="card mt-3">
    <div class="card-body">
        <form asp-action="Create" method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Role Name</label>
                <input asp-for="Name" name="roleName" class="form-control"  />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Create Role</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}