@model IEnumerable<The_Post.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h1><strong><em>All articles</em></strong></h1>
<hr />

<div class="row mt-3">
    @foreach (Article article in Model)
    {
        <partial name="_AdminArticlePartial" model="article"></partial>
    }
</div>

