
@{
    ViewData["Title"] = "EmployeeAdded";
    Layout = "_LayoutForAdmin";
}

<div class="container mt-5 text-center">
    <div class="alert alert-success shadow p-4 rounded">
        <h3 class="text-success">Employee Added Successfully!</h3>
    </div>
</div>

<hr />

<div class="mt-5">
    <a asp-action="AllEmployees" class="btn btn-outline-dark btn-sm">Back to Employee List</a>
</div>

