
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center"><em><strong>Admin Page</strong></em></h1>
<hr />
<div class="d-grid gap-2 col-md-6 mx-auto">
    <a asp-action="AllEmployees" class="m-2 btn btn-outline-secondary rounded-4">View Employees</a>
    <a asp-action="AddArticle" asp-controller="Article" class="m-2 btn btn-outline-secondary rounded-4">Add Article</a>
    <a asp-action="Index" asp-controller="Article" class="m-2 btn btn-outline-secondary rounded-4">View Articles</a>
    <a asp-action="AssignRole" class="m-2 btn btn-outline-secondary rounded-4">Assign Roles</a>
    <a asp-action="Index" asp-controller="Roles" class="m-2 btn btn-outline-secondary rounded-4">Roles Management</a>
</div>

