/*Layout Styling */
.container1 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;  /*Take header's height */
}

.top-section {
    flex: 7; /* 70% of container1 */
   
}

.bottom-section {
    flex: 3; /* 30% of container1 */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bottom-section ul {
    display: flex;
    gap: 20px; /* Adds spacing between links */
    list-style: none; /* Removes bullets */
    padding: 0;
}

.sidebar-link {
    font-weight: bold;
    color: black;
    text-decoration: none !important; /* Removes underline */
}

.sidebar-link:hover {
    text-decoration: underline; /* Adds underline on hover */
}


/*-----------------------------------------------------*/


html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-brand {
    font-family: 'Merriweather', serif;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
}

.modal-header {
    background-image: linear-gradient(#81baa0,white);
}

.modal-footer {
    background-image: linear-gradient(white,#81baa0);
}

/*.card {
    transition: transform 0.2s, box-shadow 0.2s;
}

    .card:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    }

.list-group-item-action:hover {
    background-color: #f8f9fa;
}
*/
@media (max-width: 991px) {
    .sticky-top {
        position: relative !important;
        top: 0 !important;
    }
}

.article-image-height {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;
}