/*Layout Styling */

.bottom-section {
    /*  min-height: 40px;*/
    height: 25px;
    overflow: hidden;
}
.sidebar1-link {
    font-weight: bold;
    color: black !important;
    text-decoration: none !important; /* Removes underline*/
    transition: all 0.3s ease-in-out;
    padding: 0px 20px 0px 20px;
}

 .sidebar1-link:hover {
       
    background-color: rgba(255, 255, 255, 0.3);
    color: gray !important;
    transition: background-color 0.3s ease-in-out;
 }


/*-----------------------------------------------------*/

/*Menu button*/ 


/* Default sidebar width */
.offcanvas {
    width: 25%; /* 25% width on larger screens */
}

/* Full width on small screens */
@media (max-width: 768px) {
    .offcanvas {
        width: 50% !important; /* Make it full width on mobile */
    }
}

/*-----------------------------------------------------*/



html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-brand {
    font-family: 'Merriweather', serif;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
}

/* For Modals */
.modal-header {
    background-image: linear-gradient(#81baa0,white);
}

.modal-footer {
    background-image: linear-gradient(white,#81baa0);
}

/* For all cards */
.fpCard {
    transition: transform 0.2s, box-shadow 0.2s;
}

    .fpCard:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    }

/* ---- Sidebars ---- */

@media (max-width: 991px) {
    .sticky-top {
        position: relative !important;
        top: 0 !important;
    }
}

.scrollable-sidebar-content {
    max-height: calc(100vh - 14rem);
    overflow-y: auto;
    padding-right: 0.5rem;    
}
    .scrollable-sidebar-content::-webkit-scrollbar {
        width: 3px;
    }

    .scrollable-sidebar-content::-webkit-scrollbar-track {
        background: #f8f9fa;
    }

    .scrollable-sidebar-content::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 3px;      
    }

        .scrollable-sidebar-content::-webkit-scrollbar-thumb:hover {
            background: #555;
        }



.article-image-height {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;
}

/* Media query for mobile screens (600px or less width) */
@media (max-width: 600px) {
    .article-image-height {
        max-height: 250px; /* The max-height gets changed to 250px */
    }
}

/* Archived */
.archived-css {
    opacity: 0.6;
    text-decoration: line-through;
}