/*Layout Styling */

.footer {
    line-height: normal !important;
}

.bottom-section {
    /*  min-height: 40px;*/
    height: 25px;
    overflow: hidden;
}
.sidebar1-link {
    font-weight: bold;
    color:   #333333  !important;
    text-decoration: none !important; /* Removes underline*/
    transition: all 0.3s ease-in-out;
    padding: 0px 20px 5px 20px;
}

 .sidebar1-link:hover {
       
    background-color: rgba(255, 255, 255, 0.3);
    color: gray !important;
    transition: background-color 0.3s ease-in-out;
 }

/* Custom styles for better responsive behavior */
.header-container {
    position: relative;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: 2px solid #A8A8A8; /* Light Silver */
}

    .header-container::after {
        content: '';
        display: table;
        clear: both;
    }

.brand-container {
    position: absolute; 
    left: 0; 
    right: 0;       
    top: 50%; 
    transform: translateY(-50%); 
    text-align: center;
    width: 100%;
    pointer-events: none; 
    z-index: 1;
}

    .brand-container a.navbar-brand {
        pointer-events: auto;
        font-family: 'Merriweather', serif;
        font-size: 4rem;
        font-weight: bold;
        margin: 0 auto;
        white-space: nowrap;
        word-break: normal;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #0A2472; /* Navy Blue */
    }

.side-controls {
    position: relative;
    z-index: 2;
}

.left-controls {
    float: left;
}

.right-controls {
    float: right;
}

/* Default */
.responsive-search {
    width: 300px;
}
.hide-button{}

@media (min-width: 768px) {
    .custom-border {
        border-bottom: 1px solid #A8A8A8;
    }
}

@media (max-width: 1200px) {
    .responsive-search {
        width: 250px;
    }
}

@media (max-width: 1100px) {
    .responsive-search {
        width: 200px;
    }
}

@media (max-width: 1000px) {
    .responsive-search {
        width: 150px;
    }
}

/* Smaller logo */
@media (max-width: 900px) {
    .brand-container a.navbar-brand {
        font-size: 3rem;
        color: #0A2472; /* Navy Blue */
    }    
}

@media (max-width: 810px) {
    .responsive-search {
        display: none;
    }
}

@media (max-width: 450px) {
    .side-controls{
        display: none;
    }
    .hide-button{
        display: none;
    }
}

/*-----------------------------------------------------*/

/*Menu button*/ 


/* Default sidebar width */
.offcanvas {
   width: 20% !important; /* 30% width on larger screens */
}



html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* For Modals */
.modal-header {
    background-image: linear-gradient(#81baa0,white);
}

.modal-footer {
    background-image: linear-gradient(white,#81baa0);
}

/* For Homepage cards */
.fpCard {
    transition: transform 0.2s, box-shadow 0.2s;
}
    .fpCard:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    }


/* ---- Sidebars ---- */

@media (max-width: 991px) {
    .sticky-top {
        position: relative !important;
        top: 0 !important;
    }
}

.scrollable-sidebar-content {
    max-height: calc(100vh - 14rem);
    overflow-y: auto;
    padding-right: 0.5rem;    
}
    .scrollable-sidebar-content::-webkit-scrollbar {
        width: 3px;
    }

    .scrollable-sidebar-content::-webkit-scrollbar-track {
        background: #f8f9fa;
    }

    .scrollable-sidebar-content::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 3px;      
    }

        .scrollable-sidebar-content::-webkit-scrollbar-thumb:hover {
            background: #555;
        }





.toast {
    z-index: 1056;
    opacity: 1 !important;
    max-width: 400px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
 


.weather-card {
    width: 150px; /* Fixed width for each card */
    height: 150px; /* Fixed height for each card */
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-shrink: 0; /* Prevent shrinking */
}

/* When cards are removable, cursor changes to pointer and the border turns red */
.weather-card.removable {
    cursor: pointer;
    border: solid red;
}

/* Flex container for the cards with scroll functionality */
.d-flex.flex-nowrap {
    flex-wrap: nowrap; /* Prevent wrapping to the next row */
    overflow-x: auto; /* Enable horizontal scrolling if necessary */
    max-width: 100%; /* Ensure it doesn't exceed the container's width */
}

#weatherCardsContainer::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Transparent scrollbar */
    border-radius: 10px;
}

#weatherCardsContainer::-webkit-scrollbar-track {
    background: transparent;
}

.weather-button-text {
    background: none;
    border: none;
    padding: 0;
    font-size: 3rem;
    cursor: pointer;
    color: inherit;
}

.modal-weather-color{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

/* Archived */
.archived-css {
    opacity: 0.6;
    text-decoration: line-through;
}

.article-image-height {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border: 2px solid #A8A8A8; /* Light Silver */
    border-radius: 15px; /* Adjust this value for more or less rounding */
}

/* Media query for mobile screens (600px or less width) */
@media (max-width: 600px) {
    .article-image-height {
        max-height: 250px; /* The max-height gets changed to 250px */
        border: 2px solid #A8A8A8; /* Light Silver */
        border-radius: 15px; /* Adjust this value for more or less rounding */
    }

    .weather-button-text {
        font-size: 4rem;
        font-weight: bold;
    }
}

.category-title {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 10px 0px;
    margin: 15px 0px;
    /*position: sticky;*/
    top: 0;
    background: white;
    z-index: 1000;
    color: #0A2472; /* Navy Blue */
    border-bottom: 3px solid #A8A8A8; /* Light Silver */
}
@media (min-width:811px) {
    .headerAdmin {
        width: calc(100% - 270px);
       margin-left: 270px !important;
        height: 70px !important;
        position: fixed !important;
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;
        z-index: 1030 !important;
    }
    .sidebar_Admin {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 270px;
    }
    .div-main-admin {
        margin-top: 70px !important;
        margin-left: 270px !important;
        padding-bottom: 70px !important;
    }
    .title_admin {
        display: none !important;
    }
    Offcanvas_bottom_admin {
        display: none !important;
    }
    .Mobile_Header-Admin {
        display: none !important;
    }
    .footer_Admin {
        height: 70px;
        left: 270px;
        width: calc(100% - 270px);
    }
}


@media (max-width:810px) {
    .headerAdmin {
        width: 100% ;
       
        height: 70px;
    }
    .header_Items_Admin {
        display: none !important;
    }
    .sidebar_Admin {
        display: none !important;
    }
    .div-main-admin {
        width: 100%;
    }
    .offcanvas {
        width: 100% !important;
    }
    .footer_Admin {
        width: 100% !important;
    }
}

.text-soft-white {
    color: rgba(200, 200, 200, 0.8) !important;
}
.text-soft-red-wine {
    color: rgba(128, 0, 32, 0.8) !important;
}

.table-responsive {
    width: 50%;
    max-width: 800px; /* Max width for larger screens */
    margin: 0 auto;
}

table.prices-table {
    width: 100%;
    border-collapse: collapse;
    background-color: honeydew;
    color: black;
    text-align: center;
    border: 1px solid #ddd;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: #0A2472;
    border: 1px solid #A8A8A8;
}
