@page
@model The_Post.Areas.Identity.Pages.Account.Manage.SubscriptionModel
@{
    ViewData["Title"] = "Subscription";
    ViewData["ActivePage"] = ManageNavPages.Subscription;
}
<div class="mx-3">

    <h1><strong><em>Subscribe</em></strong></h1>
    <hr />

    <div class="container">
        <div class="row px-2">
            <!--Basic Card-->
            <div class="col-md-6 d-flex">
                <div class="card shadow h-100 d-flex flex-column">
                    <div class="card-header" style="min-height:80px;">
                        <h4 class="card-title text-center"><strong>The Post: Basic</strong></h4>
                        <p class="card-subtitle text-center fw-lighter"></p>
                    </div>
                    <div class="card-body flex-grow-1">
                        <div style="min-height:60px;">
                            <p class="card-text text-center"><strong>A basic membership that you get when you register.</strong></p>
                        </div>                        
                        <div class="card-body border mx-auto w-100" style="min-height:180px;">
                            <p class="card-text">Free of charge.</p>
                            <p class="card-text"><i class="fa-solid fa-check text-success"></i><em> See Images, Headlines and a contentsummary</em></p>                            
                        </div>
                        <div class="d-grid mx-auto mb-0">
                            @* <button type="button" id="checkout-button" class="btn btn-primary mt-5 mb-1 rounded-pill">
                                Subscribe Now
                            </button> *@
                        </div>
                        <p class="fs-6 fw-lighter mb-0 text-center"></p>
                    </div>
                </div>
            </div>
            <!--Premium Card-->
            <div class="col-md-6 d-flex">
                <div class="card shadow h-100 d-flex flex-column">
                    <div class="card-header" style="min-height:80px;">
                        <h4 class="card-title text-center"><strong>The Post: Premium</strong></h4>
                        <p class="card-subtitle text-center fw-lighter">Unlimited access to all articles</p>
                    </div>
                    <div class="card-body flex-grow-1">
                        <div style="min-height:60px;">
                            <p class="card-text text-center"><strong>Become a The Post: Premium member to read this article and more.</strong></p>
                        </div>                        
                        <div class="card-body border mx-auto w-100" style="min-height:180px;">
                            <p class="card-text">For only 99kr/month, you can:</p>
                            <p class="card-text"><i class="fa-solid fa-check text-success"></i><em> Read all the articles as much as you want</em></p>
                            <p class="card-text"><i class="fa-solid fa-check text-success"></i><em> Search and read archived articles</em></p>
                            <p class="card-text"><i class="fa-solid fa-check text-success"></i><em> Keep up with the latest news</em></p>
                        </div>
                        <div class="d-grid col-8 mx-auto mb-0">
                            <button type="button" id="checkout-button" class="btn btn-primary mt-5 mb-1 rounded-pill">
                                Subscribe Now
                            </button>
                        </div>
                        <p class="fs-6 fw-lighter mb-0 text-center">After the first month it will be renewed for 199kr/month. Cancel at anytime.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    // Toastr Message for Subscriptions
document.addEventListener("DOMContentLoaded", function () {
    var successMessage = '@TempData["SuccessMessage"]';
    var errorMessage = '@TempData["ErrorMessage"]';

    if (successMessage) {
        toastr.success(successMessage);
    }

    if (errorMessage) {
        toastr.error(errorMessage);
    }
});
</script>